@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

$clrPagesDark: #F3F1E5;
$clrPagedLight: linear-gradient(to top, #F8EBE3 0%, #FFFFFF 100%);



@mixin pseudo {
  content: '';
  display: block;
  position: absolute;
}

@mixin mediaMaxW($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

.brochure {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 250px;
  perspective: 2000px;
  transform: translateY(100%);
  animation: init 1s ease-in-out forwards;
  animation-delay: 2s;
 width: 100%;
  @media (max-width: 1220px) {
    display: none;
 }
 
  ////////////// Pages ////////////////
  &__pages {
    position: relative;
    height: 250px;
    width: calc(60% / 4);
    overflow: hidden;
    
    
    &--page2 {
      transform: rotateY(30deg);
      // left: -2.20%;
      background-image: $clrPagedLight;
      box-shadow: -110px 65px 180px -38px rgba(0, 0, 0, 0.5), 25px 40px 180px -38px rgba(0, 0, 0, 0.5), 160px 20px 180px -38px rgba(0, 0, 0, 0.5);
      @include mediaMaxW(1228px) {
        box-shadow: -100px 50px 180px -38px rgba(0, 0, 0, 1), 25px 40px 180px -38px rgba(0, 0, 0, 0.5), 160px 20px 180px -38px rgba(0, 0, 0, 0.5);
      }
      .page2-heading {
        margin: 20px 0 0 10px;
        text-transform: uppercase;
        color: #afafaf;
        font: {
          size: 14px;
          
        }
      }
      &:after {
        @include pseudo;
        top: 0;
        right: -43px;
        bottom: -108px;
        transform: skew(-20deg);
        height: 170px;
        width: 75px;
        background-color: rgba(0, 0, 0, .2);
        transition: .55s;
      }
      &:before {
        @include pseudo;
        bottom: 0px;
        right: -12px;
        height: 80px;
        width: 75px;
        background-color: rgba(0, 0, 0, .2);
        box-shadow: -2px 3px 3px 0px rgba(0, 0, 0, .2);
        transition: .55s;
      }
    }
    &--page3 {
      background-color: $clrPagesDark;
      // left: -4.5%;
      transform: rotateY(-30deg);
      box-shadow: 80px 51px 215px -38px rgba(0, 0, 0, 0.75);
      overflow: initial;
      &:after {
        @include pseudo;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, .15);
        box-shadow: -3px 0px 5px -2px rgba(0, 0, 0, 0.2), inset 3px 0px 5px -2px rgba(0, 0, 0, 0.2);
      }
    }
    &--page4 {
      @extend .brochure__pages--page2;
      box-shadow: 0 0 2px rgba(0,0,0,.1);
      // left: -6.80%;
      z-index: 1;
    }
    &--page5 {
      // left: -9.05%;
      transform: translate3d(0, 0, 0);
      transform: rotateY(-30deg);
      background-color: $clrPagesDark;
      box-shadow: -100px 65px 75px -38px rgba(188, 180, 173, .5);
      overflow: initial;
      &:after {
        @include pseudo;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, .15);
        box-shadow: -3px 0px 5px -2px rgba(0, 0, 0, 0.2), inset 3px 0px 5px -2px rgba(0, 0, 0, 0.2);
      }
    }
   
  }
  ////////////// Icons ///////////////

  .icons {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 10px;
  }
  .page3-icons,
  .page4-icons,
  .page5-icons {
    margin-top: 35px;
  }

  .icons-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /* Allow items to wrap */
    height: 50px !important;
  }
  

  .icons-block {
    width: 50px;
    height: 50px;
  }
   
  
}