

  .pin-paper {
    position: relative;
    display: flex;
    justify-content: center;
    min-width: 325px;
    max-width: 400px;
    min-height: 175px;
    padding: 20px;
    background: #E4DAE2;
    box-shadow: 3px 3px 2px #ddbbcf;
    /* transform: rotate(10deg);
    transform-origin: top left; */
  }
  
  .pin-paper p {
    margin: auto;
    padding: 20px
  }
  
  .pin {
    --pin-color: #d02627;
    --pin-dark: #9e0608;
    --pin-light: #fc7e7d;
  
    position: absolute;
    left: 12px;
    width: 60px;
    height: 50px;
    top: -12px;
  }
  
  .shadow {
    position: absolute;
    top: 18px;
    left: -8px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #ddbbcf;
  }
  
  .metal {
    position: absolute;
    width: 5px;
    height: 20px;
    background: linear-gradient(to right, #808080, 40%, #eae8e8, 50%, #808080);
    border-radius: 0 0 30% 30%;
    transform: rotate(50deg);
    transform-origin: bottom left;
    top: 15px;
    border-bottom: 1px solid #808080;
  }
  
  .bottom-circle {
    position: absolute;
    right: 15px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--pin-color);
    background: radial-gradient(
      circle at bottom right,
      var(--pin-light),
      25%,
      var(--pin-dark),
      90%,
      var(--pin-color)
    );
  }
  
  /* Barrel */
  .bottom-circle::before {
    content: "";
    position: absolute;
    top: 0;
    left: -2px;
    width: 20px;
    height: 30px;
    transform: rotate(55deg);
    transform-origin: 100% 100%;
    border-radius: 0 0 40% 40%;
    background: linear-gradient(
      to right,
      var(--pin-dark),
      30%,
      var(--pin-color),
      90%,
      var(--pin-light)
    );
  }
  
  /* Top circle */
  .bottom-circle::after {
    content: "";
    position: absolute;
    right: -10px;
    top: -5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: radial-gradient(
      circle at right,
      var(--pin-light),
      30%,
      var(--pin-color),
      var(--pin-dark) 80%
    );
  }

  .inputfield {
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    color: gray;
    margin: 5px 0px 10px 0px;
  }

  .textarea {
    border: 1px solid gray;
    height: 200px;
    border-radius: 10px;
    padding: 10px;
    color: gray;
    margin: 5px 0px 10px 0px;
  }
  
  .submitBtn {
    width: 200px;
    border: 1px solid #ffffff;
    border-radius: 20px;
    padding: 10px;
  }